
<div class="container">
<div class="row">
        <div class="log-button">
                <button (click)="connectWebSocket()">Connect</button>
                <button>Disconnect</button>
        </div>

        <div class="form">
                   
        <input type="message" #newmessage />
        <button (click)="sendMessage(newmessage.value)">Send</button>
</div>

<div class="messages"> 
     <p>Messages: </p>
        <div *ngFor="let message of newMessage">
                <div>{{message}}</div>
     
        </div>     
</div>
</div>
</div>
